<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Jodayn" verbose="1" >
<listeners>
<listener class-name="com.Listener.Listeners"/>
</listeners>
<parameter name="URL" value="https://jodayn.com/"></parameter>
  <test thread-count="5" name="Sanity-test">
  <groups>
      <run>
        <include name="Sanity"/>
        <exclude name="regression"/>
      </run>
    </groups>
    <classes>
      <class name="com.jodayn.HomePage"/>
      <class name="com.jodayn.ContactUs"/>
    </classes>
  </test>
</suite>
